<div style="float: right; margin-right: 10px;">
	<%= link_to "Create Topic", new_topic_path %>
</div>
<% if @topics.present? %>
	<h3>Topics List</h3>
	<% @topics.each do |topic| %>
		<%= topic.name %><br>
	<% end %>
<% else %>
	<h3>Sorry, No Topics are available.</h3>
<% end %>
